# Flutter / Dart
.dart_tool/
.packages
build/
*.iml
*.ipr
*.iws
.idea/
*.lock
pubspec.lock

# Android
android/local.properties
android/.gradle
android/captures
android/gradlew
android/gradlew.bat
android/gradle/wrapper/
**/android/**/GeneratedPluginRegistrant.java

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Coverage
coverage/

# Environment
.env
.env.local
